.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.856);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6abe74;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bg_night{
  background-color: rgb(41, 41, 41);
  color: floralwhite;
}

.bg-dark .btn {
    background-color:transparent;
    color: floralwhite;
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 .18rem rgba(31,41,55,0.25);
}

.fondo_transparente{
  background-color: transparent;
}

.bg_night h2{
    color: rgb(255, 240, 240);
}

.text_day{
    color: black;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.box-counter .box-header {
	font: 400 26px "PT Serif", "Times New Roman", Times, serif;
  text-align: center;
  color:black;
  text-shadow: 0 0 4px white;
}

#totales .box-counter .counter {
  color:black;
	font-style: normal;	
  text-align: center;
}

.box-counter .counter {
  color:black;
	font-style: normal;  
  text-shadow: 0 0 3px white;

}

.box-counter * + .box-header {
	margin-top: 14px;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.box-counter .box-header {
		font-size: 15px;
	}
}

.text-large {
  font: 700 38px/42px "PT Serif", "Times New Roman", Times, serif;
  text-align: center;
}

@media (min-width: 992px) {
	.text-large {
		font-size: 48px;
	}
}

@media (min-width: 1200px) {
	.text-large {
		font-size: 55px;
	}
}

* + .text-large {
	margin-top: 10px;
}

.btn:hover {
	color: #6abe74;
	background: transparent;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}